<div
  class="d-flex justify-content-center align-items-center py-4 ps-5 shadow-sm"
>
  <div class="text-uppercase d-flex col-5 align-self-center" routerLink="/">
    <p class="brand-name fw-bold me-5">
      Shop<span class="fw-light">kart</span>
    </p>
    <p class="fs-5 me-4">Clothing</p>
    <p class="fs-5">Accessories</p>
  </div>
  <div
    class="
      search-container
      col-4
      d-flex
      justify-content-center
      align-self-center
    "
  >
    <input
      #inputSearch
      placeholder="Search Here...."
      class="w-75"
      type="text"
    />
    <button (click)="getSearchedData(inputSearch)">
      <i class="fas fa-search"></i>
    </button>
  </div>
  <div class="profile-cart ps-5 col-2 d-flex align-items-center">
    <div class="cart col-4">
      <i class="fas fa-shopping-cart" routerLink="/cart"></i>
    </div>
    <div class="col-8">
      <img
        width="50"
        src="https://icon-library.com/images/avatar-icon-images/avatar-icon-images-4.jpg"
        alt=""
      />
    </div>
  </div>
</div>
