<div class="container ms-4">
  <ng-container>
    <h2 class="fs-2 mt-2">Clothing for Men and Women</h2>
    <div class="card-container d-flex flex-wrap">
      <div class="col-3 p-4">
        <div class="product-card col shadow-sm rounded-3">
          <img
            src="https://rukminim1.flixcart.com/image/800/960/kt0enww0/shirt/r/z/e/m-a1atw198-tommy-hilfiger-original-imag6g7fgfywz28n.jpeg?q=50"
          />
          <div class="product-meta ps-3 py-2">
            <p class="product-name fw-bold">
              Men Regular Fit Checkered Spread Collar Casual Shirt
            </p>
            <p class="brand-name">Tommy Hilfiger</p>
            <p class="text-success fw-bold">Rs. 2599</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container>
    <h2 class="fs-2 mt-2">Accessories for Men and Women</h2>
    <div class="card-container d-flex flex-wrap">
      <div class="col-3 p-4">
        <div class="product-card col shadow-sm rounded-3">
          <img
            src="https://rukminim1.flixcart.com/image/800/960/kt0enww0/shirt/r/z/e/m-a1atw198-tommy-hilfiger-original-imag6g7fgfywz28n.jpeg?q=50"
          />
          <div class="product-meta ps-3 py-2">
            <p class="product-name fw-bold">
              Men Regular Fit Checkered Spread Collar Casual Shirt
            </p>
            <p class="brand-name">Tommy Hilfiger</p>
            <p class="text-success fw-bold">Rs. 2599</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
